<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/font/flaticon.css">
    <link rel="stylesheet" href="/dist/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dist/bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/dist/css/app.bundle.css">
    <link rel="stylesheet" href="/dist/bower_components/alertifyjs/dist/css/alertify.css"  id="alertifyCSS">
    <script src="/dist/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/dist/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/dist/bower_components/alertifyjs/dist/js/alertify.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="alertify-logs"></div>
    {{{body}}}
</body>

</html>