{{!--<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/dist/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="/dist/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/dist/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/dist/css/app.bundle.css">
    <style>
        html,
        body {
            height: 100%;
        }
    </style>
    <title>Login</title>
</head>

<body>--}}
    <div class="loginpage cf">
        <div class="login-body cf">
            {{#if errors}} {{#each errors}}
            <div class="alert alert-danger">{{msg}}</div>
            {{/each}} {{/if}} {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
            {{/if}} {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
            {{/if}} {{#if error}}
            <div class="alert alert-success">{{error}}</div>
            {{/if}}
            <article class="container-login center-block cf">
                <section>

                    <div class="tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
                        <div role="tabpanel" id="login" class="tab-pane fade active in">
                            <h2><i class="glyphicon glyphicon-log-in"></i> Access</h2>
                            <form method="post" accept-charset="utf-8" autocomplete="off" role="form" action="" class="form-horizontal">
                                <div class="form-group ">
                                    <label for="login" class="sr-only">Email</label>
                                    <input type="text" class="form-control" name="email" id="login_value" placeholder="Email" tabindex="1" value="" />
                                </div>
                                <div class="form-group ">
                                    <label for="password" class="sr-only">Password</label>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" value="" tabindex="2" />
                                </div>
                                <br/>
                                <div class="form-group col-sm-6">
                                    <button type="submit" style="margin-left: 20px;width: 80%;" name="formtype" value="weblogin" id="submit" tabindex="5" class="btn btn-lg btn-primary">Login</button>
                                </div>
                                <div class="form-group col-sm-6">
                                    <a href="/auth/signup"><button type="button" style="margin-left: 20px;width: 80%;" class="btn btn-lg pull-right btn-primary">Signup</button></a>                                    
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </section>
            </article>
        </div>
    </div>
    <style>
        body,html{
            height: 100%;
        }
    </style>
{{!--</body>

</html>--}}