.board-header {
    background-color: transparent;
    border: none;
    top: 0px;
    left: 0px;
    width: 100%;
    border-bottom: 1px solid #eee;
    box-shadow: 0px 1px 3px #efefef;
}

.brand-icon {
    padding: 5px 5px;
    img {
        width: 40px;
        height: 40px;
    }
}

.board-settings-options {
    padding: 4px;
    >a {
        padding: 10px 15px!important;
        border: 1px solid #ccc;
    }
}

.profile-dropdown {
    >a {
        padding: 10px 15px 0px 15px!important;
    }
    >a>img {
        margin-right: 10px;
        width: 30px;
        height: 30px;
    }
}

.share-board-button {
    padding: 5px;
    a {
        color: #fff!important;
        i {
            margin-right: 8px;
        }
        padding: 8px 15px!important;
    }
    a:hover {
        background-color: #31D1ED!important;
        border: #D9F7FC;
    }
}

.sidebar {
    width: 50px;
    height: 80%;
    position: fixed;
    left: 5px;
    top: 80px;
    ul {
        padding: 0;
        margin: 0;
        list-style: none outside none;
    }
    li.command-buttons {
        display: block;
        position: relative;
        div {
            border: 1px solid #ccc;
            font-size: 18px;
            text-align: center;
            padding: 10px 0px;
            cursor: pointer;
        }
    }
    li.li-divider {
        display: block;
        height: 10px;
        width: 100%;
        border-right-width: 0px;
        border-left-width: 0px;
        box-shadow: 1px 0px 2px #eee inset, -1px 0px 2px #eee inset;
    }
}

.menu-right {
    position: absolute;
    left: 105%;
    top: 0px;
}

.additional-features {
    width: 300px;
    padding: 10px 10px 30px 10px!important;
    li {
        display: inline-block;
        text-align: center;
        padding: 0px 10px;
        cursor: pointer;
        i:after,
        i:before,
        i {
            font-size: 40px!important;
            display: block;
        }
        img {
            display: block;
            width: 40px;
            height: 40px;
            margin: 0px auto;
        }
        span {
            font-size: 10px;
            color: #313540;
            font-family: Arial, Helvetica, sans-serif;
            display: inlin-block;
            margin-top: -10px;
        }
    }
    li.img-based {
        margin-left: 13px;
        margin-right: 8px;
    }
    li:nth-child(3n) {
        margin-left: 0px;
        margin-right: 0px;
    }
    li:hover i {
        font-weight: bold;
    }
    li:hover img {
        width: 45px;
        height: 45px;
    }
    li:nth-child(n+3) {
        margin-top: 30px;
    }
}

.shapes-icon,
.shapes-icon:before,
.shapes-icon:after {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.shapes-feature {
    width: 200px;
    li {
        display: inline-block;
        padding: 10px;
        i,
        i:before,
        i:after {
            margin: 0px;
            padding: 0;
            font-size: 24px;
        }
    }
}

.circle-color {
    padding: 0px;
    margin: 0px;
    border-radius: 100%;
    width: 32px;
    height: 32px;
}

.color-box-set {
    padding: 5px!important;
    margin-top: 5px!important;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.black {
    background-color: black;
}

.pink {
    background-color: pink;
}

.white {
    background-color: white;
}

.color-box-set .add {
    position: relative;
    span {
        position: absolute;
        left: 6px;
        top: -3px;
        font-size: 26px;
        color: #bbb;
    }
}

.added-members {
    margin-top: 10px;
    padding: 10px 0px;
}

.member-add-share-modal {
    height: 230px;
}

.footer-extra-commands {
    position: fixed;
    bottom: 2px;
    left: 5px;
    z-index: 100000;
    ul {
        margin: 0;
        padding: 0;
        list-style: none outside none;
        li {
            cursor: pointer;
            display: inline-block;
            padding: 5px 15px;
            background-color: transparent;
            font-size: 14px;
            border: 1px solid #ccc;
        }
    }
}

.li-disabled {
    pointer-events: none; //This makes it not clickable
    opacity: 0.6; //This grays it out to look disabled
}

// .sidebar {
//     position: fixed;
//     top: 0px;
//     right: 0px;
//     width: 350px;
//     height: 100%;
//     z-index: 1000000;
//     background-color: #fff;
//     border: 1px solid #ccc;
//     overflow-y: scroll;
//     box-shadow: 0px 3px 3px #ccc;
//     .sidebar-options-wrapper {
//         position: relative;
//         width: 100%;        
//     }
// }
.sidebar-options {
    position: fixed;
    top: 0px;
    right: -350px;
    width: 350px;
    height: 100%;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow-y: scroll;
    box-shadow: 0px 3px 3px #ccc;
    .sidebar-options-wrapper {
        position: relative;
        width: 100%;
    }
}

.sidebar-toggler {
    position: fixed;
    right: 0px;
    top: 50px;
}

.options-button-opener {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #fdfcfc;
    color: #777;
    position: absolute;
    left: -73px;
    z-index: 1000;
    top: 100px;
    border: 1px solid #ccc;
    border-bottom: none;
    box-shadow: 0px -1px 4px #eee;
    transform: rotate(-90deg);
    span {
        display: block;
        width: auto;
        height: auto;
    }
}

.property-header {
    padding: 5px 10px;
    width: 100%;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.property-property {
    background-color: #286090;
}

.property-value {
    background-color: #5cb85c;
}

.split-pane-divider {
    background: #eee;
    border: 1px solid #ccc;
}

.split-pane {
    position: relative;
    /* height: 100%; */
    width: 100%;
    /* overflow: hidden; */
    z-index: 0;
}

#left-component {
    width: 50%;
    z-index: 1;
    position: relative;
}

#my-divider {
    left: 50%;
    width: 5px;
}

#right-component {
    left: 50%;
    margin-left: 5px;
    z-index: 2;
    background-color: #fff;
}

.left-component-wrapper,
.right-component-wrapper {
    height: auto;
}

//{
// width: 100%;
// height: 100%;
// position: absolute;
// top: 0;
// bottom: 0;
// overflow-y: scroll;
//}
.property-list {
    ul {
        list-style: none outside none;
        margin: 0;
        padding: 0;
        li {
            height: 30px;
            padding: 5px 5px 5px 15px;
            border-bottom: 1px solid #eee;
            font-size: 14px;
        }
    }
}

.value-list {
    ul {
        list-style: none outside none;
        margin: 0;
        padding: 0;
        li {
            height: 30px;
            padding: 5px 5px 5px 5px;
            border-bottom: 1px solid #eee;
            font-size: 14px;
        }
    }
    input[type="text"],
    input[type="number"] {
        width: 100%;
        height: 20px;
    }
    input[type="color"] {
        width: 60%;
        height: 22px;
    }
    input[type="checkbox"] {
        padding: 0;
        margin: 0;
    }
    input[type="file"] {
        width: 100%;
        height: 20px;
        font-size: 10px;
    }
    select {
        width: 90%;
        height: 20px;
        margin-left: 5px;
    }
}

.capture-icons {
    padding: 30px 0px 10px 0px;
    text-align: center;
    color: #313540;
    img {
        width: 100%;
        height: auto;
        border-radius: 6px;
        padding: 10px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    img:hover {
        box-shadow: -1px -1px 8px rgba(81, 203, 238, 0.3), 1px 1px 8px rgba(81, 203, 238, 0.3);
    }
    img.active {
        box-shadow: -1px -1px 5px rgba(81, 203, 238, 0.6) inset, 1px 1px 5px rgba(81, 203, 238, 0.6) inset;
        border: 1px solid rgba(80, 200, 220, 1);
    }
}

#loader-out {
    background-color: rgba(175, 200, 179, 0.4);
    width: 100%;
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000000;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

.upload-ext-icon {
    font-size: 30px;
    color: #ccc;
    position: relative;
    background-color: #f7f7f7;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    margin: 20px 10px 10px 0px;
    i {
        display: block;
    }
}

.upload-ext-icon:hover {
    background-color: #777;
    color: #fff;
}

.upload-ext-icon-active {
    background-color: #777;
    color: #fff;
}

.canvas-notes {
    z-index: 10000;
    background-color: #f5df16;
    position: absolute;
}

.canvas-comment-icon {
    font-size: 30px;
    color: #286090;
}

.sidebar-chat-wrapper {
    position: fixed;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: #f3f2f2;
    right: 0px;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 3px #ccc;
    .sidebar-chat-btn {
        padding: 10px 20px;
        cursor: pointer;
        background-color: #fdfcfc;
        color: #777;
        position: absolute;
        left: -57px;
        z-index: 999;
        top: 300px;
        border: 1px solid #ccc;
        border-bottom: none;
        box-shadow: 0px -1px 4px #eee;
        transform: rotate(-90deg);
        span {
            z-index: 999;
            display: block;
            width: auto;
            height: auto;
        }
    }
}

.sidebar-chat {
    height: 100%;
    width: 100%;
    .attachments {
        position: relative;
        width: 100%; // display: flex;
        // flex-direction: column;
        height: 20%;
        font-weight: bold;
        color: #eee;
        font-size: 30px;
        text-align: center;
        box-shadow: 1px 1px 3px #eee inset, -1px -1px 3px #eee inset;
    }
    .chat-window {
        bottom: 0px;
        position: relative;
        left: 0;
        width: 100%;
        height: 60%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .top-menu {
            width: 100%;
            padding: 10px 0px;
            font-size: 14px;
            color: #777;
            border: 1px solid #eee;
            border-bottom-color: #eee;
            box-shadow: 0px 1px 3px #eee;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        ul.messages {
            width: 100%;
            flex-grow: 1;
            overflow-y: auto;
            list-style: none outside none;
            margin: 0;
            padding: 20px 0px;
            font-size: 12px;
            li {
                display: flex;
                padding: 5px;
                width: 100%;
                height: auto;
                span {
                    display: block;
                    font-weight: bold;
                }
                img {
                    width: 30px;
                    height: 30px;
                }
                div {
                    position: relative;
                    flex-grow: 1;
                    color: #313935;
                    padding: 5px 10px;
                    border-radius: 6px;
                     ::before {
                        content: '';
                        position: absolute;
                        top: 5px;
                        width: 0;
                        height: 0;
                    }
                }
            }
            li.chat-left {
                flex-direction: row;
                img {
                    margin-right: 15px;
                }
                div {
                    background-color: #EBF5FF;
                     ::before {
                        left: -20px;
                        border: 10px solid #EBF5FF;
                        border-top-color: transparent;
                        border-bottom-color: transparent;
                        border-left-color: transparent;
                    }
                }
            }
            li.chat-right {
                flex-direction: row-reverse;
                img {
                    margin-left: 15px;
                }
                div {
                    background-color: #c6e6c6;
                     ::before {
                        right: -20px;
                        border: 10px solid #c6e6c6;
                        border-top-color: transparent;
                        border-bottom-color: transparent;
                        border-right-color: transparent;
                    }
                }
            }
        }
        .bottom-wrapper {
            background-color: #f7f9f7;
            border-top: 3px solid #eee;
            z-index: 2;
            min-height: 50px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px 5px 5px 5px;
            box-sizing: border-box;
            .message_input_wrapper {
                flex-grow: 1;
                min-height: 30px;
                input {
                    width: 100%;
                    height: 30px;
                    padding: 0 5px;
                }
            }
            .send_message {
                padding: 0px 5px 0px 10px;
            }
        }
    }
}

.user-status {
    width: 100%;
    height: 20%;
    box-shadow: 1px 1px 3px #eee inset, -1px -1px 3px #eee inset;
    overflow: hidden;
    padding: 5px 0px;
    ul {
        h4{
            font-weight: normal;
            width: 100%;
            height: 30px;
            color: #777;
            font-size: 14px;
            text-align: center;
            position: absolute;
            top: 0px;
            left: 0px;
        }
        position: relative;
        margin: 0;
        padding: 0;
        overflow-y: auto;
        width: 100%;
        height: 100%;
        padding-top: 30px;
        list-style: none outside none;
        li {
            i {
                margin-right: 10px;
            }
            i.circle-online {
                color: #5cb85c;
            }
            i.circle-offline {
                color: red;
            }
            background-color: #e0e0e0;
            padding: 5px 15px;
            border-bottom: 1px solid #eee;
        }
        li:nth-child(2n) {
            background-color: #f0f0f0;
        }
        li:first-child {
            border-radius: 6px 6px 0px 0px;
        }
        li:last-child {
            border-radius: 0px 0px 6px 6px;
        }
    }
}